<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <title>{{choose_name}}</title>

    <meta name="theme-color" content="#ffffff">
</head>
<body>
<div class="container">
    <h1>{{choose_name}}</h1>
    <!--suppress HtmlUnknownTarget -->
    <form method="POST" action="/choose_name">
        <div class="input-group">
            <span class="input-group-addon">{{username}}</span>
            <input name="username" type="text" class="form-control" placeholder="TheLegend27" required="required" maxlength="16">
        </div>
        <br>
        <input type="submit" class="btn btn-primary btn-lg" value="{{lets_go}}">
    </form>
</div>
</body>
</html>