<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <title>Create Game</title>

    <meta name="theme-color" content="#ffffff">
</head>
<body>
<div class="container">
    <h1>{{create_game}}</h1>
    <!--suppress HtmlUnknownTarget -->
    <form method="POST" action="/create">
        <div class="input-group">
            <span class="input-group-addon">{{game_name}}</span>
            <input name="game_name" class="form-control" placeholder="{{super_cool_game}}" required="required"
                   maxlength="16">
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon">{{countdown_time}}</span>
            <input class="form-control" name="countdown_time" type="number" min="10" value=""
                   placeholder="{{blank_for_game_without_countdown}}">
        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon">{{playing_until}}</span>
            <input class="form-control" name="points_to_win" type="number" min="1" value="" placeholder="optional">
        </div>
        <br>
        <div class="checkbox">
            <label>
                <input type="checkbox" name="public" checked>{{public}}
            </label>
        </div>
        <div class="input-group">
            <span class="input-group-addon">{{username}}</span>
            <input name="username" class="form-control" placeholder="TheLegend27" maxlength="16">
        </div>
        <br>
        <input type="submit" class="btn btn-primary btn-lg" value="{{lets_go}}">
    </form>
</div>
</body>
</html>