<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>montagsmaler - {{sys_game_name}}</title>

    <meta name="theme-color" content="#ffffff">
</head>
<body>
<div class="container">
    <br>

    <div class="row">
        <div class="col-sm-3">
            <h3 style="color: #b92c28; display: inline;">montagsmaler</h3>
        </div>
        <div class="col-sm-4">
            <h3 style="align-self: center;display: inline;">{{sys_game_name}}</h3>
        </div>
        <!--suppress HtmlUnknownTarget -->
        <button id="toggle_language" class="btn">
            {{toggle_language}}
        </button>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-3">
            <!-- Chat Window !-->
            <div id="chat_window" style="height: 400px; overflow: scroll;"></div>
            <br>
            <form action="javascript:;" onsubmit="chatSubmitted()" class="form-inline">  <!-- Chat Overview !-->
                <div class="input-group">
                    <input id="chat_input" type="text" class="form-control input-sm" placeholder="{{your_message}}"
                           autocomplete="off">
                    <span class="input-group-btn">
                        <button id="chat_submit" class="btn btn-secondary btn-sm" type="submit">
                            <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
                        </button>
                    </span>
                </div>
            </form>
            <br>
            <b id="points_to_win_text">{{playing_until}} {{sys_points_to_win}} {{points}}</b>
            <table id="user_table" class="table"> <!-- User Overview !-->
            </table>
        </div>
        <div class="col-md-9">
            <div class="row"> <!-- Canvas !-->
                <canvas style="border: 1px solid black;" id="drawing_canvas" width="800px" height="500px">
                    {{canvas_not_supported}}
                </canvas>
            </div>
            <br>

            <button class="btn btn-primary" id="start_button" onclick="startClicked()">{{start_game}}</button>

            <div class="row justify-content-start" id="tools"> <!-- Drawing tools !-->
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="row">
                                <label for="color">
                                    {{color}}
                                </label>
                            </div>
                            <div class="row">
                                <input class="jscolor {width:243, height:150} form-control"
                                       onchange="updateColor(this.jscolor)" id="color" value="000000">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="row">
                            <label for="tool-switcher">
                                {{tool}}
                            </label>
                        </div>
                        <div class="row">
                            <fieldset id="tool-switcher" class="btn-group" data-toggle="buttons">
                                <label class="btn btn-primary active">
                                    {{pencil}}
                                    <input type="radio" name="pen-type" value="pencil" checked>
                                </label>
                                <label class="btn btn-primary">
                                    {{pen}}
                                    <input type="radio" name="pen-type" value="pen">
                                </label>
                                <label class="btn btn-primary">
                                    {{eraser}}
                                    <input type="radio" name="pen-type" value="eraser">
                                </label>
                            </fieldset>
                            <button class="btn btn-primary" onclick="onClearClicked()">
                                {{erase}}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <h1 id="word"></h1>
                    <h3 id="word_synonyms"></h3>
                </div>
            </div>
            <div class="row justify-content-start"> <!-- Voting !-->
                <div class="col-lg-6">
                    <form hidden id="guess_form" action="javascript:;" onsubmit="guessSubmitted(this)">
                        <div class="input-group">
                            <input id="guess_input" class="form-control" name="guess" autocomplete="off"
                                   placeholder="{{guess_here}}">
                            <div class="input-group-btn">
                                <input id="guess_button" type="submit" class="btn btn-secondary" value="{{guess}}"><br>
                            </div>
                        </div>
                        <br>
                        <h1 id="hint_label"
                            style='font-family: "Courier New", Courier, "Lucida Sans Typewriter",
                                "Lucida Typewriter", monospace;'>
                        </h1>
                        <h4 id="countdown_label"></h4>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
<script src="js/jquery-3.2.0.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/paperjs/paper-core.min.js"></script>
<script type="text/javascript" src="js/jscolor.min.js"></script>
<!--suppress JSUnusedLocalSymbols -->
<script type="text/javascript">
    const id = "{{sys_game_id}}";
    var username = "{{sys_username}}";
    const pointsToWin = "{{sys_points_to_win}}";
    var isChillMode = "{{sys_chill_mode}}";
    var isPublic = "{{sys_is_public}}";
    var userOnTurn = "{{sys_user_on_turn}}";
    var op = "{{sys_op}}";
    var hasStarted = "{{sys_has_started}}";

    const languages = ["de", "en"];
    var languageIndex = languages.indexOf("{{sys_language}}");
    $("#toggle_language").click(function () {
        languageIndex++;
        languageIndex %= languages.length;
        $.post("toggle_language", languages[languageIndex]);
        location.reload();
    });

    const messages = {
        welcomeText: "{{welcome_text}}".replace("[u]", username),
        youAreNowOp: "{{you_are_now_op}}",
        youAreOnTurn: "{{you_are_on_turn}}",
        isOnTurn: "{{is_on_turn}}"
    }
</script>
<script type="text/javascript" src="game.js"></script>
<script type="text/javascript" src="canvashandler.js"></script>
</html>