<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title>montagsmaler</title>

    <meta name="theme-color" content="#ffffff">
</head>
<body>
<div class="container">
    <h1 style="color: #3278b9; font-size: 100px;">montagsmaler</h1>
    <h4>{{is_a_drawing_game}}</h4>
    <a class="btn btn-primary btn-lg btn-block" style="align-self: center;" href="/list">{{join_existing_game}}</a>
    <a class="btn btn-secondary btn-lg btn-block" style="align-self: center;" type="button" href="/create">{{create_new_game}}</a>
    <h4>{{made_by}}</h4>
    <!--suppress HtmlUnknownTarget -->
    <button id="toggle_language" class="btn btn-block">
        {{toggle_language}}
    </button>
</div>
</body>
<script src="js/jquery-3.2.0.min.js"></script>
<script>
    const languages = ["de", "en"];
    var languageIndex = languages.indexOf("{{sys_language}}");
    $("#toggle_language").click(function () {
        languageIndex++;
        languageIndex %= languages.length;
        $.post("toggle_language", languages[languageIndex]);
        location.reload();
    });
</script>
</html>